<h2 id="title">Welcome to Ember</h2>


<li style="display:inline" >{{#link-to 'aboutus'}} About Us {{/link-to}} </li>
<li style="display:inline" >{{#link-to 'schools'}} Schools {{/link-to}} </li>
<li style="display:inline" >{{#link-to 'contactus'}} Contact Us {{/link-to}} </li>
<BR/>
<BR/>
<h1>{{outlet}}</h1>